In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np 
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
from scipy.stats import mode
from scipy.special import binom
from sklearn.metrics.pairwise import cosine_similarity
from time import time
import BII

# 1 Preprocess data

We are using the well known adult dataset.

In [2]:
train = pd.read_csv("../data/adult/adult.data",header=None)
test  = pd.read_csv("../data/adult/adult.test",header=None) 
columns = ["Age", "workclass", "fnlwgt", "education","education-num","marital-status", "occupation"
           ,"relationship", "race","sex","capital-gain","capital-loss", "hours-per-week", "native-country", "label"]
cat_columns = ["workclass", "education", "marital-status", "occupation"
           ,"relationship", "race","sex", "native-country", "label"]
cont_colums = [col for col in columns if col not in cat_columns]
train.columns, test.columns = columns, columns
#Dropping fnlwgt as it's not an actual feature but a weighting factor
train.drop("fnlwgt", axis=1, inplace=True)
test.drop("fnlwgt", axis=1, inplace=True)
columns.remove("fnlwgt")
cont_colums.remove("fnlwgt")

We encode the categorical variables

In [3]:
encoders = {}
train_transformed, test_transformed = pd.DataFrame(), pd.DataFrame()
for category in cat_columns:
    if category == "label":
        train_transformed[category] = train[category]
        test_transformed[category] = test[category]
        continue
    if category == "education":
        continue;
    encoder = OneHotEncoder()
    encoder.fit(np.asarray(train[category]).reshape(-1, 1))
    encoders[category] = encoder
    transformed_featue_train = pd.get_dummies(train[category],prefix=category)
    transformed_featue_test = pd.get_dummies(test[category],prefix=category)
    for column in transformed_featue_train.columns:
        train_transformed[column] = transformed_featue_train[column]
        try:
            test_transformed[column] = transformed_featue_test[column]
        except :
            test_transformed[column] = np.zeros(len(test_transformed))
for category in cont_colums:
    train_transformed[category] = train[category]
    test_transformed[category] = test[category]
# We treat education slightly differently as it is already encoded in "education-num", so we just use this encoding
#(it is ordered with respect to the level of education, while LabelEncoders are lexicographic) 
# The right way would be to drop the column but we leave it to show some axiomatic properties
train_transformed["education"] = train_transformed["education-num"]
test_transformed["education"] = test_transformed["education-num"]
cont_colums.append("education")
cat_columns.remove("education")

In [4]:
x_train, y_train = train_transformed.loc[:, train_transformed.columns != 'label'], train_transformed["label"]
x_test,  y_test  = test_transformed.loc[:, test_transformed.columns != 'label'], test_transformed["label"]
cat_columns.remove("label")
columns = [col for col in columns if col != "label"]
reordered_test = test[cont_colums + cat_columns]

In [5]:
[c for c in x_train.columns if "marital" in c]

['marital-status_ Divorced',
 'marital-status_ Married-AF-spouse',
 'marital-status_ Married-civ-spouse',
 'marital-status_ Married-spouse-absent',
 'marital-status_ Never-married',
 'marital-status_ Separated',
 'marital-status_ Widowed']

# 2 Train baseline classifier

For this table we trained a random forrest classifier

In [6]:
clf = RandomForestClassifier(max_depth=10, n_estimators=50)
clf = clf.fit(x_train, y_train)

In [7]:
clf.score(x_train, y_train), clf.score(x_test,  y_test)

(0.8626884923681705, 0.8589767213316135)

In [8]:
baseline = pd.DataFrame(data=np.zeros([1,len(x_train.columns)]),columns= x_train.columns)
for category in cont_colums:
    baseline[category] = np.median(x_train[category])

In [9]:
baseline

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,marital-status_ Divorced,...,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,Age,education-num,capital-gain,capital-loss,hours-per-week,education
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,37.0,10.0,0.0,0.0,40.0,10.0

In [10]:
b_clf = BII.BanzhafModel(clf, np.asarray(baseline))

In [11]:
linear_points = np.arange(1,10000,10)

In [12]:
test.iloc[linear_points]

,Age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
11,36,Federal-gov,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
21,34,Private,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
31,56,Self-emp-not-inc,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,50,United-States,<=50K
41,44,Self-emp-inc,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9951,64,State-gov,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
9961,24,Private,Bachelors,13,Never-married,Sales,Own-child,Black,Female,0,0,40,United-States,<=50K
9971,39,Self-emp-inc,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
9981,50,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
9991,27,Private,12th,8,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,Mexico,<=50K

In [13]:
onehot_columns = x_train.columns.to_list()

In [14]:
reordered_test_merge = reordered_test.drop("education",axis=1)

## Binary explanations (Interactions)

In [15]:
number_samples = 10000

In [ ]:
%%time
n_features = len(cont_colums) + len(cat_columns)
bin_banzhaf_values = np.zeros([x_test.shape[0],n_features,n_features])
bin_shap_values = np.zeros([x_test.shape[0],n_features,n_features])
bin_qii_values = np.zeros([x_test.shape[0],n_features,n_features])
for i in linear_points:
    print(i, end=", ")
    test_point = np.asarray(x_test.iloc[i:i+1,:])
    bin_banzhaf_values[i] = BII.one_hot_binary_banzhaf(test_point,b_clf,cont_colums,
                                                              cat_columns,onehot_columns,
                                                              number_samples=number_samples)
    bin_shap_values[i] =  BII.one_hot_binary_shapley(test_point,b_clf,cont_colums,
                                                            cat_columns,onehot_columns,
                                                            number_samples=number_samples)
    bin_qii_values[i] =  BII.one_hot_binary_qii(test_point,b_clf,cont_colums,
                                                               cat_columns,onehot_columns)

1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 201, 211, 221, 231, 241, 251, 261, 271, 281, 291, 301, 311, 321, 331, 341, 351, 361, 371, 381, 391, 401, 411, 421, 431, 441, 451, 461, 471, 481, 491, 501, 511, 521, 531, 541, 551, 561, 571, 581, 591, 601, 611, 621, 631, 641, 651, 661, 671, 681, 691, 701, 711, 721, 731, 741, 751, 761, 771, 781, 791, 801, 811, 821, 831, 841, 851, 861, 871, 881, 891, 901, 911, 921, 931, 941, 951, 961, 971, 981, 991, 1001, 1011, 1021, 1031, 1041, 1051, 1061, 1071, 1081, 1091, 1101, 1111, 1121, 1131, 1141, 1151, 1161, 1171, 1181, 1191, 1201, 1211, 1221, 1231, 1241, 1251, 1261, 1271, 1281, 1291, 1301, 1311, 1321, 1331, 1341, 1351, 1361, 1371, 1381, 1391, 1401, 1411, 1421, 1431, 1441, 1451, 1461, 1471, 1481, 1491, 1501, 1511, 1521, 1531, 1541, 1551, 1561, 1571, 1581, 1591, 1601, 1611, 1621, 1631, 1641, 1651, 1661, 1671, 1681, 1691, 1701, 1711, 1721, 1731, 1741, 1751, 1761, 1771, 1781, 1791, 1801, 1811, 1821, 1831, 1841, 1851, 1861, 1871, 1881, 1891, 1901, 1911, 1921, 1931, 1941, 1951, 1961, 1971, 1981, 1991, 2001, 2011, 2021, 2031, 2041, 2051, 2061, 2071, 2081, 2091, 2101, 2111, 2121, 2131, 2141, 2151, 2161, 2171, 2181, 2191, 2201, 2211, 2221, 2231, 2241, 2251, 2261, 2271, 2281, 2291, 2301, 2311, 2321, 2331, 2341, 2351, 2361, 2371, 2381, 2391, 2401, 2411, 2421, 2431, 2441, 2451, 2461, 2471, 2481, 2491, 2501, 2511, 2521, 2531, 2541, 2551, 2561, 2571, 2581, 2591, 2601, 2611, 2621, 2631, 2641, 2651, 2661, 2671, 2681, 2691, 2701, 2711, 2721, 2731, 2741, 2751, 2761, 2771, 2781, 2791, 2801, 2811, 2821, 2831, 2841, 2851, 2861, 2871, 2881, 2891, 2901, 2911, 2921, 2931, 2941, 2951, 2961, 2971, 2981, 2991, 3001, 3011, 3021, 3031, 3041, 3051, 3061, 3071, 3081, 3091, 3101, 3111, 3121, 3131, 3141, 3151, 3161, 3171, 3181, 3191, 3201, 3211, 3221, 3231, 3241, 3251, 3261, 3271, 3281, 3291, 3301, 3311, 3321, 3331, 3341, 3351, 3361, 3371, 3381, 3391, 3401, 3411, 3421, 3431, 3441, 3451, 3461, 3471, 3481, 3491, 3501, 3511, 3521, 3531, 3541, 3551, 3561, 3571, 3581, 3591, 3601, 3611, 3621, 3631, 3641, 3651, 3661, 3671, 3681, 3691, 3701, 3711, 3721, 3731, 3741, 3751, 3761, 3771, 3781, 3791, 3801, 3811, 3821, 3831, 3841, 3851, 3861, 3871, 3881, 3891, 3901, 3911, 3921, 3931, 3941, 3951, 3961, 3971, 3981, 3991, 4001, 4011, 4021, 4031, 4041, 4051, 4061, 4071, 4081, 4091, 4101, 4111, 4121, 4131, 4141, 4151, 4161, 4171, 4181, 4191, 4201, 4211, 4221, 4231, 4241, 4251, 4261, 4271, 4281, 4291, 4301, 4311, 4321, 4331, 4341, 4351, 4361, 4371, 4381, 4391, 4401, 4411, 4421, 4431, 4441, 4451, 4461, 4471, 4481, 4491, 4501, 4511, 4521, 4531, 4541, 4551, 4561, 4571, 4581, 4591, 4601, 4611, 4621, 4631, 4641, 4651, 4661, 4671, 4681, 4691, 4701, 4711, 4721, 4731, 4741, 4751, 4761, 4771, 4781, 4791, 4801, 4811, 4821, 4831, 4841, 4851, 4861, 4871, 4881, 4891, 4901, 4911, 4921, 4931, 4941, 4951, 4961, 4971, 4981, 4991, 5001, 5011, 5021, 5031, 5041, 5051, 5061, 5071, 5081, 5091, 5101, 5111, 5121, 5131, 5141, 5151, 5161, 5171, 5181, 5191, 5201, 5211, 5221, 5231, 5241, 5251, 5261, 5271, 5281, 5291, 5301, 5311, 5321, 5331, 5341, 5351, 5361, 5371, 5381, 5391, 5401, 5411, 5421, 5431, 5441, 5451, 5461, 5471, 5481, 5491, 5501, 5511, 5521, 5531, 5541, 5551, 5561, 5571, 5581, 5591, 5601, 5611, 5621, 5631, 5641, 5651, 5661, 5671, 5681, 5691, 5701, 5711, 5721, 5731, 5741, 5751, 5761, 5771, 5781, 5791, 5801, 5811, 5821, 5831, 5841, 5851, 5861, 5871, 5881, 5891, 5901, 5911, 5921, 5931, 5941, 5951, 5961, 5971, 5981, 5991, 6001, 6011, 6021, 6031, 6041, 6051, 6061, 6071, 6081, 6091, 6101, 6111, 6121, 6131, 6141, 6151, 6161, 6171, 6181, 6191, 6201, 6211, 6221, 6231, 6241, 6251, 6261, 6271, 6281, 6291, 6301, 6311, 6321, 6331, 6341, 6351, 6361, 6371, 6381, 6391, 6401, 6411, 6421, 6431, 6441, 6451, 6461, 6471, 6481, 6491, 6501, 6511, 6521, 6531, 6541, 6551, 6561, 6571, 6581, 6591, 6601, 6611, 6621, 6631, 6641, 6651, 6661, 6671, 6681, 6691, 6701, 6711, 6721, 6731, 6741, 6751, 6761, 6771, 6781, 6791, 6801, 6811, 6821, 6831, 6841, 6851, 6861, 6871, 6881, 6891, 6901, 6911, 6921, 6931, 6941, 6951, 6961, 6971, 6981, 6991, 7001, 7011, 7021, 7031, 7041, 7051, 7061, 7071, 7081, 7091, 7101, 7111, 7121, 7131, 7141, 7151, 7161, 7171, 7181, 7191, 7201, 7211, 7221, 7231, 7241, 7251, 7261, 7271, 7281, 7291, 7301, 7311, 7321, 7331, 7341, 7351, 7361, 7371, 7381, 7391, 7401, 7411, 7421, 7431, 7441, 7451, 7461, 7471, 7481, 7491, 7501, 7511, 7521, 7531, 7541, 7551, 7561, 7571, 7581, 7591, 7601, 7611, 7621, 7631, 7641, 7651, 7661, 7671, 7681, 7691, 7701, 7711, 7721, 7731, 7741, 7751, 7761, 7771, 7781, 7791, 7801, 7811, 7821, 7831, 7841, 7851, 7861, 7871, 7881, 7891, 7901, 7911, 7921, 7931, 7941, 7951, 7961, 7971, 7981, 7991, 8001, 8011, 8021, 8031, 8041, 8051, 8061, 8071, 8081, 8091, 8101, 8111, 8121, 8131, 8141, 8151, 8161, 8171, 8181, 8191, 8201, 8211, 8221, 8231, 8241, 8251, 8261, 8271, 8281, 8291, 8301, 8311, 8321, 8331, 8341, 8351, 8361, 8371, 8381, 8391, 8401, 8411, 8421, 8431, 8441, 8451, 8461, 8471, 8481, 8491, 8501, 8511, 8521, 8531, 8541, 8551, 8561, 8571, 8581, 8591, 8601, 8611, 8621, 8631, 8641, 8651, 8661, 8671, 8681, 8691, 8701, 8711, 8721, 8731, 8741, 8751, 8761, 8771, 8781, 8791, 8801, 8811, 8821, 8831, 8841, 8851, 8861, 8871, 8881, 8891, 8901, 8911, 8921, 8931, 8941, 8951, 8961, 8971, 8981, 8991, 9001, 9011, 9021, 9031, 9041, 9051, 9061, 9071, 9081, 9091, 9101, 9111, 9121,

In [ ]:
%%time
n_features = len(cont_colums) + len(cat_columns)
merge_bin_banzhaf_values = np.zeros([x_test.shape[0],n_features-1,n_features-1])
merge_bin_shap_values = np.zeros([x_test.shape[0],n_features-1,n_features-1])
merge_bin_qii_values = np.zeros([x_test.shape[0],n_features-1,n_features-1])
for i in linear_points:
    print(i, end=", ")
    test_point = np.asarray(x_test.iloc[i:i+1,:])
    merge_bin_banzhaf_values[i] = BII.one_hot_binary_banzhaf_merge(test_point,b_clf,
                                                   cont_colums,cat_columns,
                                                   onehot_columns, [1,5], number_samples=number_samples)
    merge_bin_shap_values[i] =  BII.one_hot_binary_shapley_merge(test_point,b_clf,
                                                   cont_colums,cat_columns,
                                                   onehot_columns, [1,5], number_samples=number_samples)
    merge_bin_qii_values[i] =  BII.one_hot_binary_qii_merge(test_point,b_clf,
                                                   cont_colums,cat_columns,
                                                   onehot_columns,  [1,5])

In [ ]:
max_bin_ban = np.max(np.abs(merge_bin_banzhaf_values))
max_bin_sha = np.max(np.abs(merge_bin_shap_values))

In [ ]:
for i,col in  enumerate(reordered_test.columns):
    print(i,col)

In [ ]:
# We are looking for points where the results for Shapley are counter intuitve (with some margin)

In [ ]:
#Interaction with marriage_status
marriage_status_mistakes = linear_points[np.where(np.logical_and(np.logical_and(
    bin_shap_values[linear_points][:,1,7]/max_bin_sha < -0.01, 
    bin_shap_values[linear_points][:,5,7]/max_bin_sha > 0.01),
    np.abs(bin_shap_values[linear_points][:,1,7] +
    bin_shap_values[linear_points][:,5,7] )/max_bin_sha + 0.05 < np.abs(merge_bin_shap_values[linear_points][:,1,6]/max_bin_sha) )
)]
marriage_status_mistakes

In [ ]:
#Interaction with capital gain
capital_gain_mistakes = linear_points[np.where(np.logical_and(
    np.abs((bin_shap_values[linear_points][:,1,2] +
    bin_shap_values[linear_points][:,2,5] )/max_bin_sha)< 0.01,
    np.abs(merge_bin_shap_values[linear_points][:,1,2] /max_bin_sha)> 0.01)
)]
capital_gain_mistakes

In [ ]:
print("Shapley")
print("{},{},{},{},{}".format("number","educationNumCaptialGain","educationCaptialGain","mergeEducationCapitalGain","expectedMergeEducationCapitalGain"))
for j,i in enumerate(capital_gain_mistakes):
    print("{},{:.3f},{:.3f},{:.3f},{:.3f}".format(j, 
                                                  bin_shap_values[i][1,2]/max_bin_sha,
                                                  bin_shap_values[i][2,5]/max_bin_sha,
                                                  merge_bin_shap_values[i][1,2]/max_bin_sha,
                                                  (bin_shap_values[i][1,2]+bin_shap_values[i][2,5])/max_bin_sha))

In [ ]:
print("{},{},{},{},{}".format("number","educationNumMarriage","educationMarriage","mergeEducationMarriage","expectedMergeEducationMarriage"))
for j,i in enumerate(marriage_status_mistakes):
    print("{},{:.3f},{:.3f},{:.3f},{:.3f}".format(j, 
                                                  bin_shap_values[i][1,7]/max_bin_sha,
                                                  bin_shap_values[i][5,7]/max_bin_sha,
                                                  merge_bin_shap_values[i][1,6]/max_bin_sha,
                                                  (bin_shap_values[i][1,7]+bin_shap_values[i][5,7])/max_bin_sha))

### This is just for testing

In [ ]:
print("Banzhaf")
print("{},{},{},{},{}".format("number","educationNumCaptialGain","educationCaptialGain","mergeEducationCapitalGain","expectedMergeEducationCapitalGain"))
for j,i in enumerate(capital_gain_mistakes):
    print("{},{:.3f},{:.3f},{:.3f},{:.3f}".format(j, 
                                                  bin_banzhaf_values[i][1,2]/max_bin_ban,
                                                  bin_banzhaf_values[i][2,5]/max_bin_ban,
                                                  merge_bin_banzhaf_values[i][1,2]/max_bin_ban,
                                                  (bin_banzhaf_values[i][1,2]+bin_banzhaf_values[i][2,5])/max_bin_ban))

In [ ]:
print("{},{},{},{},{}".format("number","educationNumMarriage","educationMarriage","mergeEducationMarriage","expectedMergeEducationMarriage"))
for j,i in enumerate(marriage_status_mistakes):
    print("{},{:.3f},{:.3f},{:.3f},{:.3f}".format(j, 
                                                  bin_banzhaf_values[i][1,7]/max_bin_ban,
                                                  bin_banzhaf_values[i][5,7]/max_bin_ban,
                                                  merge_bin_banzhaf_values[i][1,6]/max_bin_ban,
                                                  (bin_banzhaf_values[i][1,7]+bin_banzhaf_values[i][5,7])/max_bin_ban))